@import "tailwindcss";
@plugin "daisyui";

/* Custom Fonts */
@font-face {
  font-family: 'Tiempos Headline';
  src: url('./assets/fonts/TiemposHeadline-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "renova";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #F7F5F1;
  --color-base-300: #C9B5AA;
  --color-base-content: oklch(0% 0 0);
  --color-primary: #5C4439;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #A67763;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #0077A8;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #6A5650;
  --color-neutral-content: oklch(100% 0 0);
  --color-info: #869AA3;
  --color-info-content: oklch(100% 0 0);
  --color-success: #40704a;
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-title: "Tiempos Headline";
}
